@font-face {
  font-family: 'Gilmer';
  src: url('./fonts/GilmerHeavy.woff2') format('woff2'),
    url('./fonts/GilmerHeavy.woff') format('woff'),
    url('./fonts/GilmerHeavy.otf') format('opentype'),
    url('./fonts/GilmerHeavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./fonts/GilmerLight.woff2') format('woff2'),
    url('./fonts/GilmerLight.woff') format('woff'),
    url('./fonts/GilmerLight.otf') format('opentype'),
    url('./fonts/GilmerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./fonts/GilmerBold.woff2') format('woff2'),
    url('./fonts/GilmerBold.woff') format('woff'),
    url('./fonts/GilmerBold.otf') format('opentype'),
    url('./fonts/GilmerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./fonts/GilmerMedium.woff2') format('woff2'),
    url('./fonts/GilmerMedium.woff') format('woff'),
    url('./fonts/GilmerMedium.otf') format('opentype'),
    url('./fonts/GilmerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./fonts/GilmerRegular.woff2') format('woff2'),
    url('./fonts/GilmerRegular.woff') format('woff'),
    url('./fonts/GilmerRegular.otf') format('opentype'),
    url('./fonts/GilmerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
